<%
  if is_sender
    if message.is_msg_sent_immediately_after_last_message_from_same_user
      message_body_class = "px-6 py-3 rounded-l-full bg-blue-700 max-w-xs lg:max-w-md"
      hidden_avatar = true
    else
      message_body_class = "px-6 py-3 rounded-t-full rounded-l-full bg-blue-700 max-w-xs lg:max-w-md"
      hidden_avatar = true
    end
  else
    if message.is_msg_sent_immediately_after_last_message_from_same_user
      message_body_class = "px-6 py-3 rounded-r-full bg-gray-800 max-w-xs lg:max-w-md text-gray-200"
      hidden_avatar = true
    else
      message_body_class = "px-6 py-3 rounded-t-full rounded-r-full bg-gray-800 max-w-xs lg:max-w-md text-gray-200"
      hidden_avatar = false
    end
  end
%>

<%= turbo_stream_from message %>

<% if message.body.present? || message.icon_type? %>
  <%= render partial: 'chat/content/conversations/message_body',
             locals: {
               message: message,
               message_body_class: message_body_class,
               hidden_avatar: hidden_avatar,
               is_sender: is_sender,
               channel: channel,
               message_reaction_form: message_reaction_form
             } %>
<% end %>

<% if message.attachments.attached? %>
  <% message.attachments.each_with_index do |attachment, _index| %>
    <%= render partial: 'chat/content/conversations/message_attachment',
               locals: {
                 message: message,
                 attachment: attachment,
                 hidden_avatar: hidden_avatar,
                 is_sender: is_sender,
                 channel: channel,
                 message_reaction_form: message_reaction_form
               } %>
  <% end %>
<% end %>
<!--<div class="flex justify-end gap-[1px] mb-3">-->
<!--  <img title="Dat Pham Tat" class="rounded-full object-cover" src="https://apoqrsgtqq.cloudimg.io/https://lh3.googleusercontent.com/a/ALm5wu0T8-hpF0iEvFnd_NtFDlL27gNnIcGykNRL-8DC=s96-c" style="width: 14px; height: 14px;">-->
<!--</div>-->
