<div class="-mb-2">
  <div class="rounded-lg bg-gray-800 p-2 opacity-60 px-6 py-3 rounded-t-full <%= is_sender ? 'rounded-l-full' : 'rounded-r-full' %> text-center text-white">
    <%= reply_content_mapping_reply_type(attachment, parent).html_safe %>
  </div>
</div>
