<div id="flash-messages" data-controller="components--flash-messages"
     data-components--flash-messages-flashes-value="<%= flash.to_a %>"
     data-action="animationend->components--flash-messages#showFlashMessages"></div>
