<div class="flex items-center justify-center <%= hidden ? 'hidden' : '' %>"
     id="loading-animation"
     data-components--infinite-scroll-target="loadingIcon">
  <div style="border-top-color:transparent" class="w-8 h-8 border-4 border-blue-200 rounded-full animate-spin"></div>
</div>
