<div class="relative">
  <input type="text" class="bg-dark-lighten w-full rounded-full py-2 pl-10 pr-4 outline-none text-black" placeholder="Search..."
         data-action="change->components--giphy#search">
  <span class="absolute top-0 left-0 mt-2 ml-3 inline-block">
    <svg viewBox="0 0 24 24" class="w-6 h-6">
      <path fill="#bbb"
            d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"/>
    </svg>
  </span>
</div>
<div class="mt-3 flex flex-grow flex-wrap gap-2 overflow-y-auto justify-center" id="list-gifs">
</div>
