<div class="chat-header px-6 py-4 flex flex-row flex-none justify-between items-center shadow">
  <div class="flex">
    <div class="w-12 h-12 mr-4 relative flex flex-shrink-0">
      <%= image_tag friend.avatar, class: 'shadow-md rounded-full w-full h-full object-cover', alt: "channel-user-#{friend.id}-avatar" %>
    </div>
    <div class="text-sm">
      <p class="font-bold"><%= friend.name %></p>
      <p>Winter is coming</p>
    </div>
  </div>
</div>
