<main class="my-1 pt-2 pb-2 px-10 flex-1 rounded-l-lg
		transition duration-500 ease-in-out">
  <div class="flex">
    <div class="mr-6 sm:w-1/2 w-full mt-8 py-2 flex-shrink-0 flex flex-col
          bg-purple-300 rounded-lg text-white">
      <h3
        class="flex items-center pt-1 pb-1 px-8 text-lg font-bold
            capitalize">
        <span>Messenger</span>
        <%= link_to chat_index_path, class: 'ml-2' do %>
          <svg class="h-5 w-5 fill-current" viewBox="0 0 256 512">
            <path
              d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9
                  0l-22.6-22.6c-9.4-9.4-9.4-24.6
                  0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6
                  0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136
                  136c9.5 9.4 9.5 24.6.1 34z"></path>
          </svg>
        <% end %>
      </h3>

      <div class="flex flex-col items-center mt-12">
        <%= image_tag 'messenger.png' %>
        <%= link_to 'Chat now', chat_index_path, class: 'mt-8 bg-purple-800 rounded-lg py-2 px-4' %>
      </div>
    </div>

  </div>
</main>
