<div class="flex justify-between items-center p-3 hover:bg-gray-800 rounded-lg relative">
  <div class="w-16 h-16 relative flex flex-shrink-0">
    <img class="shadow-md rounded-full w-full h-full object-cover"
         src="https://randomuser.me/api/portraits/men/97.jpg"
         alt=""
      />
    <div class="absolute bg-gray-900 p-1 rounded-full bottom-0 right-0">
      <div class="bg-green-500 rounded-full w-3 h-3"></div>
    </div>
  </div>
  <div class="flex-auto min-w-0 ml-4 mr-6 hidden md:block group-hover:block">
    <p class="font-bold">Tony Stark</p>
    <div class="flex items-center text-sm font-bold">
      <div class="min-w-0">
        <p class="truncate">Hey, Are you there?</p>
      </div>
      <p class="ml-2 whitespace-no-wrap">10min</p>
    </div>
  </div>
  <div class="bg-blue-700 w-3 h-3 rounded-full flex flex-shrink-0 hidden md:block group-hover:block"></div>
</div>
<div class="flex justify-between items-center p-3 bg-gray-800 rounded-lg relative">
  <div class="w-16 h-16 relative flex flex-shrink-0">
    <img class="shadow-md rounded-full w-full h-full object-cover"
         src="https://randomuser.me/api/portraits/women/33.jpg"
         alt=""
      />
  </div>
  <div class="flex-auto min-w-0 ml-4 mr-6 hidden md:block group-hover:block">
    <p>Scarlett Johansson</p>
    <div class="flex items-center text-sm text-gray-600">
      <div class="min-w-0">
        <p class="truncate">You sent a photo.</p>
      </div>
      <p class="ml-2 whitespace-no-wrap">1h</p>
    </div>
  </div>
</div>
<div class="flex justify-between items-center p-3 hover:bg-gray-800 rounded-lg relative">
  <div class="w-16 h-16 relative flex flex-shrink-0">
    <img class="shadow-md rounded-full w-full h-full object-cover"
         src="https://randomuser.me/api/portraits/women/23.jpg"
         alt="User2"
      />
  </div>
  <div class="flex-auto min-w-0 ml-4 mr-6 hidden md:block group-hover:block">
    <p>Emma Watson</p>
    <div class="flex items-center text-sm text-gray-600">
      <div class="min-w-0">
        <p class="truncate">You sent a video.
        </p>
      </div>
      <p class="ml-2 whitespace-no-wrap">11 Feb</p>
    </div>
  </div>
  <div class="w-4 h-4 flex flex-shrink-0 hidden md:block group-hover:block">
    <img class="rounded-full w-full h-full object-cover" alt="user2"
         src="https://randomuser.me/api/portraits/women/23.jpg"/>
  </div>
</div>
<div class="flex justify-between items-center p-3 hover:bg-gray-800 rounded-lg relative">
  <div class="w-16 h-16 relative flex flex-shrink-0">
    <img class="shadow-md rounded-full w-full h-full object-cover"
         src="https://randomuser.me/api/portraits/women/87.jpg"
         alt="User2"
      />
    <div class="absolute bg-gray-900 p-1 rounded-full bottom-0 right-0">
      <div class="bg-green-500 rounded-full w-3 h-3"></div>
    </div>
  </div>
  <div class="flex-auto min-w-0 ml-4 mr-6 hidden md:block group-hover:block">
    <p>Sunny Leone</p>
    <div class="flex items-center text-sm text-gray-600">
      <div class="min-w-0">
        <p class="truncate">Ah, it was an awesome one night stand.
        </p>
      </div>
      <p class="ml-2 whitespace-no-wrap">1 Feb</p>
    </div>
  </div>
</div>
