<section class="flex flex-col flex-auto border-l border-gray-800">
  <%= render partial: 'chat/content/top' %>
  <%= render partial: 'chat/content/messages' %>
  <%= render partial: 'chat/content/footer' %>
</section>
