<div class="active-users flex flex-row p-2 overflow-auto w-0 min-w-full">
  <div class="text-sm text-center mr-4">
    <button class="flex flex-shrink-0 focus:outline-none block bg-gray-800 text-gray-600 rounded-full w-20 h-20"
            type="button">
      <svg class="w-full h-full fill-current" viewBox="0 0 24 24">
        <path d="M17 11a1 1 0 0 1 0 2h-4v4a1 1 0 0 1-2 0v-4H7a1 1 0 0 1 0-2h4V7a1 1 0 0 1 2 0v4h4z"/>
      </svg>
    </button>
    <p>Your Story</p>
  </div>
  <div class="text-sm text-center mr-4">
    <div class="p-1 border-4 border-blue-600 rounded-full">
      <div class="w-16 h-16 relative flex flex-shrink-0">
        <img class="shadow-md rounded-full w-full h-full object-cover"
             src="https://randomuser.me/api/portraits/women/12.jpg"
             alt=""
          />
        <div class="absolute bg-gray-900 p-1 rounded-full bottom-0 right-0">
          <div class="bg-green-500 rounded-full w-3 h-3"></div>
        </div>
      </div>
    </div>
    <p>Anna</p>
  </div>
</div>
