<div class="flex-1 flex flex-col">
  <main class="flex-grow flex flex-row min-h-0">
    <%= render partial: 'chat/sidebar', locals: { users: @users } %>
    <%= render partial: 'chat/content' %>
  </main>
</div>
