<button data-controller="components--toggle" class="lg:hidden fixed z-90 top-2 right-2 border-0 w-8 h-8 rounded-full drop-shadow-md bg-indigo-800 text-white text-3xl font-bold">
  <span class="flex items-center justify-center text-indigo-100 hover:bg-indigo-700 rounded-2xl"
        data-action="click->components--toggle#toggleSidebar">
    <span class="block h-4 w-4 rounded-full">
      <svg class="w-4 h-4" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M4 6h16M4 12h16M4 18h16"></path></svg>
    </span>
  </span>
</button>
<% if current_page?(chat_index_path) %>
  <button data-controller="components--toggle" class="lg:hidden fixed z-90 top-2 right-12 border-0 w-8 h-8 rounded-full drop-shadow-md bg-indigo-800 text-white text-3xl font-bold">
    <span class="flex items-center justify-center text-indigo-100 hover:bg-indigo-700 rounded-2xl"
    data-action="click->components--toggle#toggleChatSidebar">
      <span class="block h-4 w-4 rounded-full">
        <svg class="h-4 w-4" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
      </span>
    </span>
  </button>
<% end %>
