<div class="flex flex-row justify-end mb-2">
  <div class="messages text-sm text-white grid grid-flow-row gap-2">
    <div class="flex items-center flex-row-reverse group">
      <% if message.icon_type? %>
        <button type="button"
                class="flex flex-shrink-0 focus:outline-none mx-2 block text-blue-600 hover:text-blue-700 w-6 h-6 mb-2 mt-2">
          <svg viewBox="0 0 20 20" class="w-full h-full fill-current">
            <path d="M11.0010436,0 C9.89589787,0 9.00000024,0.886706352 9.0000002,1.99810135 L9,8 L1.9973917,8 C0.894262725,8 0,8.88772964 0,10 L0,12 L2.29663334,18.1243554 C2.68509206,19.1602453 3.90195042,20 5.00853025,20 L12.9914698,20 C14.1007504,20 15,19.1125667 15,18.000385 L15,10 L12,3 L12,0 L11.0010436,0 L11.0010436,0 Z M17,10 L20,10 L20,20 L17,20 L17,10 L17,10 Z"/>
          </svg>
        </button>
      <% else %>
        <p class="<%= message_body_class %>"><%= message.body %></p>
      <% end %>
      <%= render partial: 'chat/content/sender/message_actions' %>
    </div>
  </div>
</div>
